<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.van.security.mapper.SysUserMapper">
    <resultMap id="result" type="com.van.security.domain.SysUser">
        <result column="id" property="id"/>
        <result column="username" property="userName"/>
        <result column="password" property="password"/>
        <result column="org_id" property="orgId"/>
        <result column="dep_id" property="depId"/>
        <collection property="roles" ofType="com.van.security.domain.SysRole">
            <result column="role_id" property="id"/>
            <result column="role_name" property="name"/>
            <result column="r_description" property="description"/>
        </collection>
    </resultMap>

    <select id="findByUserName" parameterType="String" resultMap="result">
          select <include refid="select_field"/>
          from sys_user u
            inner join sys_role_user ru on u.id = ru.sys_user_id
            inner join sys_role r on r.id = ru.sys_role_id
          where u.username = #{userName}
    </select>

    <!-- 查询用户所拥有的权限 -->
    <select id="findPermissionByUserName" parameterType="String" resultType="com.van.security.domain.SysPermission">
        select  p.id,
                 p.`name`,
                 p.description,
                 p.url,
                 p.pid
        from sys_user u
            inner join sys_role_user ru on u.id = ru.sys_user_id
            inner join sys_role r on r.id = ru.sys_role_id
            inner join sys_permission_role pr on pr.role_id = r.id
            inner join sys_permission p on p.id = pr.permission_id
        where u.username = #{userName}
    </select>

    <select id="findByParams" parameterType="map" resultMap="result">
        select <include refid="select_field"/>
        from sys_user u
            inner join sys_role_user ru on u.id = ru.sys_user_id
            inner join sys_role r on r.id = ru.sys_role_id
        <where>
            ${sqlwhere}
        </where>
    </select>

    <sql id="select_field">
        u.id,
        u.username,
        u.`password`,
        u.org_id,
        u.dep_id,
        r.id as role_id,
        r.`name` as role_name,
        r.description as r_description
    </sql>
</mapper>